RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

RewriteRule ^conf(/.*|)$ - [NC,F]
RewriteRule ^src(/.*|)$ - [NC,F]
RewriteRule ^vendor(/.*|)$ - [NC,F]

# RewriteBase webetu :
# RewriteBase /www/brigue2u/mywishlist