<!DOCTYPE html>
    <html>
        <head>
            <title>$this->titre_page</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        </head>
        <body>
            <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand fs-2" href="#">MyWishList.app</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Cr&eacute;er une liste</a>
                    </li>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
              
        </header>

        <div class="container-fluid bg-secondary bg-gradient" style="height: 100px">
            <span class="container-fluid align-middle">
                <h1 class="text-white fs-1 align-middle ps-3">Editer la liste</h1>
            </div>
        </div>
        
        <div class="container">            
            <h3><br>Informations générales</h3><br>
            <form method="POST" action="$url_postEdition" class="w-100">
                <label class="w-50"><h5>Nom de la liste :</h5><input type="text" class="form-control"></label><br><br>
                <label class="w-50"><h5>Description de la liste :</h5> <textarea rows="5" cols="33" name="desc" class="form-control"></textarea></label><br><br>
                <label><h5>Visibilité de la liste :</h5>
                  <div>
                    <input type="radio" name="visibility" value="public" $statusPublique class="form-check-input">
                    <label for="public" class="form-check-label">Publique</label>
                  </div>
                  <div>
                    <input type="radio" name="visibility" value="private" $statusPrive class="form-check-input" checked>
                    <label for="private" class="form-check-label">Privée</label>
                  </div>
                </label><br><br>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>	
            <h3><br>Liste de souhaits</h3><br>
            <div class="">
                <div class="row">
                    <article class="col-md-10">
                        <h5>Nom du souhait</h5>
                    </article>
                    <article class="col-md-1">
                        <button class="btn btn-outline-primary">Modifier</button>
                    </article>
                    <article class="col-md-1">
                        <button class="btn btn-outline-danger">Supprimer</button>
                    </article>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <article class="col-md-10">
                        <h5>Nom du souhait</h5>
                    </article>
                    <article class="col-md-1">
                        <button class="btn btn-outline-primary">Modifier</button>
                    </article>
                    <article class="col-md-1">
                        <button class="btn btn-outline-danger">Supprimer</button>
                    </article>
                </div>
            </div>
            <button class="btn btn-success">Ajouter</button>
        </div>


    </body>
</html>